Listen 80
<VirtualHost *:80>
    DocumentRoot "/code/path/to/webroot"
    ServerName domain.dev
    ServerAlias www.domain.dev

    <Directory /code/path/to/webroot/>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Require all granted
    </Directory>

    <FilesMatch \.php$>
        SetHandler "proxy:fcgi://php7:9000"
    </FilesMatch>

    ErrorLog /var/log/apache2/project-name-error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog /var/log/apache2/project-name-access.log combined

</VirtualHost>